.App {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(147, 230, 241) 0%,
    rgb(145, 192, 241) 45.5%
  );
}

.App a {
  text-decoration: none;
  color: black;
}
.App .container {
  min-width: max-content;
  padding-bottom: 400px;
}

.App .city-search,
.App .location-button,
.App .city-name,
.App .temperature,
.App .weather-today,
.App .weather-info-column,
.App .weather-forecast-day,
.App .weather-forecast-temperatures,
.App .footnote {
  font-family: "PT Serif", serif;
  line-height: 1.8;
}

.App .card-body {
  padding: 60px;
  border: 0.5px solid grey;
  background: white;
  max-width: 100%;
  margin: 0 auto;
  word-wrap: normal;
}

.App .weather-today {
  font-weight: bold;
  font-size: 17px;
}

.App .btn:hover {
  color: #fff;
  background-color: transparent;
}
.App a:hover {
  color: rgb(145, 192, 241);
}
