.Forecast .five-day-weather {
  text-align: center;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 100%;
}

.Forecast .weather-forecast-day {
  font-size: 17px;
  text-align: center;
}
.Forecast .weather-forecast-temperatures {
  font-size: 15px;
}
.Forecast .weather-forecast-min-temp {
  opacity: 0.7;
}
.Forecast .five-day-icons {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(147, 230, 241) 0%,
    rgb(145, 192, 241) 45.5%
  );
  border: 0.5px dotted;
  border-radius: 50%;
  padding: 5px 5px;
  margin-bottom: 8px;
  width: 75px;
}


@media (max-width: 576px) {
   .Forecast .weather-forecast-temperatures{
    margin-bottom:20px;
  }
}