.Search .btn,
.Search .form-control {
  background-color: #fff solid;
  border: 0.5px solid grey;
  font-size: 18px;
}

@media (max-width: 400px) {
  .Search .location-button {
    margin-left:40px;
  }
}
