.Weather .city-name {
  font-weight: bold;
  font-size: 21px;
}

.Weather #icon-head {
  font-size: 51px;
  margin-left: -10px;
  padding-bottom: 10px;
}
.Weather .temperature {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 15px;
}

.Weather .active {
  color: rgb(145, 192, 241);
  cursor: default;
}
.Weather .time,
.Weather .date {
  font-size: 20.5px;
}

.Weather .more-weather {
  font-size: 20px;
}

.Weather .weather-description {
  font-weight: bold;
  font-size: 18px;
}
